@font-face {
  font-family: 'COCOGOOSE Regular';
  font-style: normal;
  font-weight: normal;
  src: local("COCOGOOSE Regular"), url("../fonts/cocogoose_trial.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* a hover section */
a {
  color: #272a31;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body {
  background-color: #f8f8f8;
}

h1 {
  color: #ec5242;
  font-family: 'COCOGOOSE Regular', Helvetica, sans-serif;
  font-size: 3rem;
  margin-bottom: 0.5em;
}

h2 {
  font-family: 'COCOGOOSE Regular', Helvetica, sans-serif;
  font-size: 1.33rem;
  margin-bottom: 0.5em;
}

h3 {
  background: url(../images/title_decoration.png) no-repeat center bottom;
  color: #fff;
  font-size: 1.33rem;
  font-weight: 600;
  margin-bottom: 1.5em;
  padding-bottom: 15px;
  text-align: center;
}

header {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  z-index: 10;
}

html {
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

nav {
  background-color: rgba(39, 42, 50, 0.85);
  height: 100%;
  position: fixed;
  top: 0;
  width: 50%;
  z-index: 100;
}

nav a {
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  color: #fff;
  display: block;
  font-size: 1.15rem;
  text-decoration: none;
  padding: 10px;
}

nav ul {
  list-style-type: none;
}

nav .active,
nav .active:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-weight: 600;
}

p {
  line-height: 1.5rem;
  margin-bottom: 10px;
}

section {
  min-height: 100vh;
  padding: 50px 0;
  width: 100%;
}

.box {
  line-height: 1.75rem;
  padding: 20px;
}

.box-grey {
  background-color: #f7f7f7;
  border: 2px solid #fff;
}

.cc-campaign {
  background-color: #ec5242;
  color: #fff;
  font-weight: 600;
}

.cc-campaign:hover {
  background-color: #fff;
  color: #ec5242;
}

.color-blue {
  color: #272a32;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 10px;
  width: 100%;
}

.container-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.img-fx {
  opacity: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.img-fx:hover {
  opacity: 0.5;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.mobile-menu-close {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  color: #fff;
  height: 74px;
  padding: 0 20px;
  width: 100%;
}

.mobile-menu-open {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  height: 50px;
  width: 70px;
}

.nav-initial {
  left: -50%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.nav-active {
  left: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.program-box {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  padding: 15px;
  width: 100%;
}

.program-box:hover {
  border: 1px solid #fff;
  cursor: pointer;
}

.program-box h4 {
  color: #ec5242;
  font-size: 1rem;
  text-align: left;
}

.program-box img {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.program-box p {
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin-bottom: 0;
  text-align: left;
  width: 50%;
}

.program-box .program-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.text-end {
  text-align: right;
}

.tool-bar {
  display: none;
}

.tool-bar ul {
  list-style-type: none;
}

.speaker-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.speaker-box h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.speaker-box p {
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin-bottom: 0;
}

.speaker-box .career {
  color: #ec5242;
  font-style: italic;
}

.speaker-box .speaker-image {
  width: 25%;
}

.speaker-box .speaker-image img {
  height: auto;
  width: 100%;
}

.speaker-box .speaker-info {
  padding: 0 12.5px;
  width: 70%;
}

.speaker-box .speaker-info .speaker-head {
  background: url(../images/speaker_decoration.png) no-repeat bottom left;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#cover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/bg_main.png) no-repeat;
  background-size: cover;
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cover img {
  height: auto;
  margin-bottom: 15px;
  width: 100%;
}

#cover p {
  font-size: 1rem;
  font-weight: 600;
}

#cover .box-grey {
  margin-bottom: 20px;
  width: 100%;
}

#list-program {
  display: block;
  margin-bottom: 30px;
}

#program {
  background: #272a32 url(../images/bg_pattern.png);
  min-height: auto;
  padding-bottom: 80px;
  text-align: center;
}

#speakers {
  min-height: auto;
}

/* a hover section */
a:hover {
  color: #ec5242;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

nav a:hover {
  background-color: rgba(236, 82, 66, 0.5);
  color: #fff;
}

#program a {
  color: #fff;
}

/*
###################################################################################################
########################################  DESKTOP VERSION  ########################################
###################################################################################################
*/
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
  nav {
    background: none;
    display: block;
    height: auto;
    position: inherit;
    width: 100%;
    text-align: right;
  }
  nav a {
    background: none;
    border: none;
    color: #272a31;
    font-size: 1rem;
    margin-left: 3vw;
    display: inline-block;
    padding: 0;
    text-decoration: none;
  }
  nav li {
    display: inline-block;
  }
  nav .active,
  nav .active:hover {
    background: none;
    color: #ec5242;
    font-weight: 600;
  }
  .cc-campaign {
    background-color: #fff;
    border: 3px solid #ec5242;
    color: #ec5242;
    font-weight: 600;
    padding: 5px 9px;
  }
  .cc-campaign:hover {
    background-color: #ec5242;
    color: #fff;
  }
  .container-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .mobile-menu-close,
  .mobile-menu-open {
    display: none;
  }
  .nav-initial {
    display: block;
  }
  .tool-bar {
    background-color: #3e3e3e;
    display: block;
    font-size: 0.9rem;
    padding: 7.5px 0;
    width: 100%;
  }
  .tool-bar a {
    color: #fff;
    margin-left: 1vw;
    text-decoration: none;
  }
  .tool-bar li {
    display: inline-block;
  }
  /* a hover section */
  nav a:hover {
    background: none;
    color: #ec5242;
  }
  .program-box {
    display: block;
    width: 20%;
  }
  .program-box h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .program-box img {
    margin-bottom: 10px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .program-box p {
    text-align: center;
    width: 100%;
  }
  .program-box .program-info {
    display: block;
    width: 100%;
  }
  .speaker-box {
    width: 50%;
  }
  .tool-bar a:hover {
    color: #d3d3d3;
  }
  #cover img {
    width: 75%;
  }
  #cover p {
    font-size: 1.25rem;
  }
  #cover .box-grey {
    margin-bottom: 20px;
    width: 60%;
  }
  #list-program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  #list-speakers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
